body {
    margin-top: 50px;
}

.jumbotron img {
    width: 200px;
    border: 3px solid white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.jumbotron {
    background-image: url('../image/jumbotron-image.gif');
    background-size: cover;
    background-position: 0px -100px;
    background-attachment: fixed;
}

hr {
    width: 400px;
    border: 2px solid black;
}

.about {
    min-height: 300px;
}

.portofolio {
    background-color: #F4F4F4;
    min-height: 600px;
}

.contact {
    min-height: 600px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}